<h1>Cocktails</h1>
<a href="/cocktails/new">Create a Cocktail</a>

<% @cocktails.each do |cocktail| %>
    <h2><a href="/cocktails/<%= cocktail.id %>"><%= cocktail.title %> </a> </h2>
    <p><%= cocktail.method %></p>
    <img src="<%= cocktail.image %>" alt ="cocktail">
<% end %>
