<h1><%= @cocktail.title %></h1>
<h2><%=@cocktail.method %></h2>
<img src="<%= @cocktail.image %> " alt="cocktail">
<form action="/cocktails/<%= @cocktail.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <% if @cocktail.user  == current_user %>
        <button type="submit">Delete this Cocktail</button>
    <%end%>
</form>
