body ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    opacity: 0.9;
}
.title {
    float: left;
    display: block;
    color: rgb(244, 13, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
h1{
    margin: 10px;
}
  
ul li {
    float: right;
}
  
ul li a {
    order: reverse;
    display: block;
    margin: 15px;
    color: rgb(249, 13, 13);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
body ul li a:hover {
    background-color: #111;
}
ul li {
    border-left: 1px solid #bbb;
    
}
  
ul li:last-child {
    border-right: none;
}
ul {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}
.cocktail-card ul li{
    float: left;
    display: list-item;
    color: rgb(249, 13, 13);
    text-align: center;
    padding: 14px 16px;

}