<h1>Ingredients</h1>
<i>See what others are drinking with!</i>
<% @ingredients.each do |ingredient| %>
    <h2><%= ingredient.name %></h2>
    <img src="<%= ingredient.image %>" alt="cocktail">
    
<% end %>